name: Mirror Autoware Image to Aliyun for Arm

on:
  workflow_dispatch: 

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      # 1. 登录 GHCR (使用你的个人 PAT，彻底解决权限问题)
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} # 你的 GitHub 用户名
          password: ${{ secrets.GHCR_PAT }} # <--- 这里用了新配的 Secret

      # 2. 登录阿里云 (保持不变)
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: crpi-d3y3qro9com2p9eo.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      # 3. 清理空间
      - name: Free Disk Space
        run: |
          echo "Freeing disk space..."
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc

      # 4. 拉取、打标、推送
      - name: Pull, Tag and Push
        run: |
          # 依然使用最稳妥的 latest-cuda，一旦成功你可以随意换 tag
          SOURCE_IMAGE="docker pull ghcr.io/autowarefoundation/autoware:universe-sensing-perception-devel-cuda-20260109@sha256:ed6f5ce2c185d0efead486bb49475736556613658d848f9d83038105906b8d79"
          TARGET_IMAGE="crpi-d3y3qro9com2p9eo.cn-hangzhou.personal.cr.aliyuncs.com/my-autoware-jocker/autoware2amd64:20260109"
          
          echo "Step 1: Pulling from GHCR (Authenticated)..."
          docker pull $SOURCE_IMAGE
          
          echo "Step 2: Tagging..."
          docker tag $SOURCE_IMAGE $TARGET_IMAGE
          
          echo "Step 3: Pushing to Aliyun..."
          # 循环重试，防止网络抖动
          for i in {1..5}; do
            docker push $TARGET_IMAGE && echo "Success!" && break || (echo "Retry $i..." && sleep 10)
          done
